body {
  margin-top: -5px;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: white;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
h1 {
  margin: 10px 0px;
  padding-top: 0px;
  direction: ltr;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: black;
  font-size: 70px;
  line-height: 51px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing: 8px;
  text-shadow: none;
}
h2 {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  color: black;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, 0.74);
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 26%;
  height: 32px;
  margin-left: -1px;
  padding: 4px 31px 4px 29px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: white;
  opacity: 1;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
  color: black;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #18c7aa;
}
.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid black;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #806732;
  font-size: 18px;
  font-weight: 300;
}
.field:focus {
  box-shadow: #b59143 0px 0px 0px 2px inset;
}
.sign-up-form {
  margin-top: 40px;
}
.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #b59143;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
}
.spread-word {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}
.container {
  position: static;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  max-width: 940px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  float: none;
  text-align: center;
}
.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #fac960;
  text-align: center;
}
.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-wrapper {
  margin-top: 32px;
}
.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.social-btn:hover {
  opacity: 0.7;
}
.social-btn.footer {
  margin-right: 9px;
  margin-left: 9px;
}
.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  border-bottom: 2px solid #696565;
  border-top-style: none;
  border-top-width: 0px;
  background-color: white;
  text-shadow: none;
}
.right-nav {
  display: inline;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  text-align: right;
}
.brand {
  display: inline-block;
  color: #2e2e2e;
  font-size: 33px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 3px;
}
.logo {
  margin-top: 0px;
  margin-right: 13px;
  padding-top: 12px;
  padding-bottom: 10px;
}
.logo.footer {
  display: block;
  margin: 0px auto 21px;
}
.section {
  padding-top: 81px;
  padding-bottom: 81px;
  text-align: center;
}
.section.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  background-color: #ffc64d;
  font-size: 14px;
  text-align: center;
}
.section.hero.success {
  background-color: #18c7aa;
}
.section.grey {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #f0f0f0;
}
.grey-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.56);
  text-shadow: none;
}
.image-crop {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 368px;
  margin-top: 0px;
  margin-bottom: -81px;
}
.phone-image {
  width: 381px;
}
.infinite {
  margin-top: 52px;
  opacity: 0.15;
}
.navlink {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 23px;
}
.navlink.w--current {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.list {
  text-align: left;
}
.image {
  margin-bottom: 20px;
  padding-bottom: 0px;
  box-shadow: white 0px 0px 6px 0px, black 3px 3px 13px 2px;
  text-align: center;
}
.nav-link {
  padding-right: 20px;
  padding-left: 20px;
  color: black;
  text-decoration: none;
}
.main-title {
  min-width: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #918a8a;
  background-color: #ffcf4d;
  text-shadow: none;
}
.nav-links {
  padding-top: 32px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-transition: -webkit-transform 250ms ease;
  -o-transition: -o-transform 250ms ease;
  transition: -ms-transform 250ms ease;
  transition: transform 250ms ease;
  color: black;
  font-size: 22px;
}
.nav-links:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #ffcf4d;
}
.nav-links.w--current {
  color: #ffcf4d;
}
.nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #918a8a;
  background-color: white;
  box-shadow: black 0px 0px 7px 0px;
}
.image-section {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(145, 138, 138, 0.49);
  text-align: center;
}
.imagge {
  box-shadow: black 1px 1px 10px 0px;
}
.info {
  padding-top: 35px;
  padding-bottom: 35px;
}
.sub-title {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #918a8a;
  background-color: #f2f2f2;
}
.text-block {
  text-align: center;
}
.slider {
  height: auto;
  padding-left: 0px;
  border-top: 0px none #918a8a;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
.slide {
  margin-top: 0px;
}
.slide.wing1 {
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.09);
}
.left-arrow {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: rgba(145, 138, 138, 0);
  color: #a8a8a8;
}
.right-arrow {
  color: #a8a8a8;
}
.slider-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.slider-section {
  padding-top: 0px;
}
.slide-nav {
  color: black;
}
.slider-text {
  padding-bottom: 14px;
  font-size: 12px;
  font-style: italic;
}
.list-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: none;
}
.main-paragraph {
  position: static;
  display: block;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: left;
  text-shadow: none;
}
.image-link {
  margin-top: 5px;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.image-link:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.image-link:active {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.update-text-block {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 0px;
  float: right;
  font-size: 20px;
  font-weight: 300;
}
.update-list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 0px none #a8a8a8;
  box-shadow: white 0px 0px 6px 0px;
}
.main-list-paragraph {
  margin-top: 0px;
  margin-bottom: 40px;
  text-shadow: none;
}
.navbar-logo {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none 0ms ease;
  -o-transition: none 0ms ease;
  transition: none 0ms ease;
}
.navbar-logo:hover {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none 0ms ease;
  -o-transition: none 0ms ease;
  transition: none 0ms ease;
}
@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .menu-button {
    background-color: white;
  }
  .menu-button:active {
    background-color: white;
  }
  .nav-menu {
    background-color: white;
  }
}
@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu-button {
    background-color: white;
  }
  .icon {
    background-color: white;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }
  .image-crop {
    height: 278px;
    margin-bottom: -47px;
  }
  .phone-image {
    width: 80%;
  }
}

